/* 
    Document   : style
    Created on : Mar 18, 2013, 6:07:50 PM
    Author     : frankent
    Description:
        Purpose of the stylesheet follows.
*/

/* ----- Global */
root { 
    display: block;
}

/*@font-face {
    font-family: 'thai_sans_literegular';
    font-weight: normal;
    font-style: normal;
    src: url('font/thaisanslite_r1.eot');
    src: url('font/thaisanslite_r1.eot?#iefix') format('embedded-opentype'),
        url('font/thaisanslite_r1.woff') format('woff'),
        url('font/thaisanslite_r1.ttf') format('truetype'),
        url('font/thaisanslite_r1.svg#thai_sans_literegular') format('svg');

}*/

body{
    font-family: 'rsulight';
    font-size: 17px;
    background-image: url(img/bg_tile.png);
    color: #999999;
}

/*Menu*/
.bg_menu{
    height: 100px;
    position: relative;
    z-index: 1;
}

.top_menu{
    height: 94px;
    background: url(img/header_bg.png) repeat-x;
    width: 1020px;
    margin: 0px auto;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    background-size: auto 100px;
}

a.logo_menu{
    display: block;
    width: 144px;
    height: 94px;
    float: left;
    background: url(img/modes.png) no-repeat -12px -4px;
}

a.primary-menu{
    display: block;
    float: right;
    /*width: 115px;*/
    height: 94px;
    text-align: center;
    font-size: 22px;
    margin: 0px 5px;
    text-decoration: none;
    color: #3366cc;
    padding: 0px 10px;
}

a.primary-menu.active{
    color: #fff !important;    
    background-color: #3166cc;
}

a.primary-menu.active:hover{
    color: #fff;
}

.switch-lang-box{
    float: right;
    width: 90px;
    height: 94px;
    text-align: center;
}

.bg-lang-flag{
    background: url('img/modes.png') no-repeat -370px -167px;
    display: inline-block;
    width: 34px;
    height: 63px;
    position: relative;
    margin-top: 13px;
}

.lang-toggle{
    position: absolute;
    background: url('img/modes.png') no-repeat -329px -208px;
    width: 30px;
    height: 32px;
    left: 2px;
}

.lang-toggle.en{
    top: 30px;
}

.lang-toggle.th{
    top: 2px;
}

a.primary-menu span{
    display: block;
}

a.primary-menu .menu_order0,a.primary-menu .menu_order1,a.primary-menu .menu_order2,a.primary-menu .menu_order3{
    height: 31px;
    margin: 20px auto 7px;
    background-image: url(img/modes.png);
    background-repeat: no-repeat;
    margin-bottom: 7px;
    /*background-position-y: -113px;*/
}

a.primary-menu .menu_order0{
    width: 36px;
    /*background-position-x: -369px;*/    
    background-position: -369px -113px;
}

a.primary-menu .menu_order1{
    width: 37px;
    /*background-position-x: -312px;*/
    background-position: -312px -113px;
}

a.primary-menu .menu_order2{    
    width: 36px;
    /*background-position-x: -256px;*/
    background-position: -256px -113px;
}

a.primary-menu .menu_order3{
    width: 36px;
    /*background-position-x: -200px;*/
    background-position: -200px -113px;
}



a.primary-menu:hover .menu_order0{
    width: 36px;
    /*background-position-x: -369px;*/    
    background-position: -369px -63px;
}

a.primary-menu:hover .menu_order1{
    width: 37px;
    /*background-position-x: -312px;*/
    background-position: -312px -63px;
}

a.primary-menu:hover .menu_order2{    
    width: 36px;
    /*background-position-x: -256px;*/
    background-position: -256px -63px;
}

a.primary-menu:hover .menu_order3{
    width: 36px;
    /*background-position-x: -200px;*/
    background-position: -200px -63px;
}

a.primary-menu.active .menu_order0,a.primary-menu.active .menu_order1,a.primary-menu.active .menu_order2,a.primary-menu.active .menu_order3{
    /*margin-top: 15px;*/
    /*background-position-y: -13px;*/
    color: #fff;
}

a.primary-menu.active .menu_order0{
    width: 36px;
    /*background-position-x: -369px;*/    
    background-position: -369px -13px;
}

a.primary-menu.active .menu_order1{
    width: 37px;
    /*background-position-x: -312px;*/
    background-position: -312px -13px;
}

a.primary-menu.active .menu_order2{    
    width: 36px;
    /*background-position-x: -256px;*/
    background-position: -256px -13px;
}

a.primary-menu.active .menu_order3{
    width: 36px;
    /*background-position-x: -200px;*/
    background-position: -200px -13px;
}

.slide-freeform{
    height: 380px;
    width: 100%;
    background: url(img/sky.png) no-repeat center;
    margin-top: -5px;
    z-index: 0;
    position: relative;
}

.accordion-inner{
    border-top: none;
}



.footer-freeform{
    height: 319px;
    width: 100%;
    background: url('img/footer_bg.png') repeat-x;
}

.footer-section-box{
    height: 270px;
    width: 100%;
    text-shadow: 1px 1px 1px #000;
}

.footer-section-box p{
    position: relative;
}

.footer-section-box .address, .footer-section-box .tel_txt, .footer-section-box .contact_txt{
    display: inline-block;
    width: 264px;
    font-size: 17px;
    line-height: 17px;
    position: absolute;
}

.footer-section-box .contact_txt{
    top: 3px;
}

.footer-section-box .grid_4{
    margin: 0px 10px 10px;
}

.footer-section-box font{
    color: #6699cc;
}

.footer-section-box .block_title{
    color: #fff;
    font-weight: normal;
    font-size: 28px;
}

.footer-ability-box{
    height: 49px;
    width: 100%;
    text-align: center;
}

.foot-icon{
    margin: 7px auto -7px; 
    display: inline-block; 
    text-align: left;
}

.foot-icon img{
    display: block; 
    float: left;
}

.foot-icon span{
    display: block; 
    float: left; 
    line-height: 16px; 
    margin-left: 7px; 
    margin-top: 4px;
    font-size: 15px;    
}

i.footer-icon{
    height: 20px;
    margin-right: 10px;
    background-image: url(img/modes.png);
    background-repeat: no-repeat;
    display: inline-block;
}

i.footer-icon.pin{
    width: 19px;
    background-position: -88px -136px;
}

i.footer-icon.tel{
    width: 19px;
    background-position: -121px -136px;
}

i.footer-icon.mail{
    width: 19px;
    background-position: -153px -136px;
}

ul.smash_feed_link{
    margin: -10px 0px 0px;
}

ul.smash_feed_link a{
    color: #999;
}

ul.smash_feed_link a:hover{
    color: #efefef;
}

.widget_recent_entries ul{
    margin-left: 10px;
}

.widget_recent_entries li{
    list-style: none;
    color: #08c;
}
.widget_recent_entries li:before {
    content: "\0BB \020";
}

/*Contact frame*/
.frame-connect-us{
    width: 700px;
    height: 237px;
    position: relative;
    overflow: hidden;
}

.frame-connect-us .connect-us{
    position: absolute;
    width: 700px;
    height: 237px;
    top: 0px;
    left: 0px;
    opacity: 0;
    z-index: 0;
}

.frame-connect-us .connect-us .grid_3{
    height: 220px;
    overflow: hidden;
    position: relative;
}

/* Page */

.each-portfolio{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #999;
}:last-child{
    border-bottom: none;
}

.portfolio-thumbail{
    box-shadow: 1px 1px 7px #333;
}

.portfolio-other-thumb{
    height: 60px; 
    display: inline-block; 
    margin-bottom:10px; 
    box-shadow: 1px 1px 7px #333;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 60px auto;
    background-position: center;
}

#map{
    height: 370px;
    width: 100%;
    background-color: #efefef;
    margin-top: 20px;
    margin-bottom: 20px;
}

#map img {
    max-width: none;
}

#map label { 
    width: auto; display:inline; 
}

.contact-form label{
    font-size: 18px;
}

.contact-form input[type=text], .contact-form textarea{
    width: 365px;
}

.contact-form textarea{
    resize: none;
    height: 300px;
}

form.contact-form-quick{
    margin-bottom: 0px;
}

.contact-form-quick input[type=text], .contact-form-quick textarea{
    width: 285px;
    background: #292a2c;
    color: #efefef;
    border: 1px solid #666;
}

.contact-form-quick textarea{
    resize: none;
    height: 68px;
}

/*************** index page *******************/
.proem{
    text-align: center;
    font-size: 46px;
    line-height: 38px;
    margin: 55px 0px;
}

.textblue{
    color:#3660a8;
}

.accordion-group, .accordion-group a{
    color: #fff;
    text-decoration: none;
}

.accordion-heading{
    font-size: 28px;
    text-shadow: 1px 1px 2px #000;
    line-height: 30px;
}

i.icon-trycatch{
    background-image: url(img/modes.png);
    background-repeat: no-repeat;
    width: 29px;
    height: 29px;
    margin-right: 5px;
}

i.icon-trycatch.cate-link{
    width: 14px;
    height: 14px;
    background-position: -105px -249px;
    margin-top: 3px;
}

i.icon-trycatch.world{
    background-position: -7px -211px; 
    margin-top: 5px;
}

i.icon-trycatch.brush{
    background-position: -60px -211px;    
    margin-top: 5px;
}

i.icon-trycatch.cube{
    background-position: -115px -211px;
    margin-top: 5px;
}

i.icon-trycatch.mobile{
    background-position: -168px -211px;
    margin-top: 5px;
}

i.icon-trycatch.social-ball{
    background-position: -222px -211px;
    margin-top: 5px;
}

i.icon-trycatch.comment{
    background-position: -276px -211px;
    margin-top: 5px;
}

i.icon-trycatch.blue{
    width: 18px;
    height: 19px;
}

i.icon-trycatch.blue.pin{
    background-position: -6px -248px;
}

i.icon-trycatch.blue.tel{
    background-position: -39px -248px;
}

i.icon-trycatch.blue.email{
    background-position: -73px -248px;
}

.our-skill{
    font-size: 45px;
    font-weight: normal;
    background-image: url(img/gray_dot.png);
    background-repeat: no-repeat;
    background-size: 565px 1px;
    background-position: 135px 20px;
}

.slide-index{
    width: 100%;
    height: 237px;
}

.end{
    margin-right: 0px;
}

.begin{
    margin-left: 0px;
}

.slide-index .grid_6{
    text-align: right;
}

.slide-index .grid_6 h2{
    font-weight: normal;
    font-size: 44px;
}

.slide-index .grid_6 .txt_index{
    font-size: 18px;
}

.grid_3_mockup{
    /*background-color: #ccc;*/ 
    border-radius: 5px; 
    width: 220px; 
    height: 220px;
}

.detail-box{
    margin-left: 10px;
    float: left;
    width: 425px;
}

ul.sidebar-custom{
    margin: 0px;
}

.sidebar-custom li{
    list-style: none;
    margin: 0px;
}

.sidebar-custom h2{
    font-weight: normal;
    color: #3660a8;
    margin-bottom: 0px;
}

.front-photo{
    margin-bottom: 4px;
}

/* Category */
.mini-slide-freeform{
    width: 100%;
    height: 150px;
    position: relative;
    margin-top: -6px;
    background: url(img/sky_150.png) no-repeat center;
}

.cate_title{
    font-size: 65px;
    font-weight: normal;
    text-shadow: 1px 1px 1px #666;
    position:absolute;
    bottom: 0px;
    left: 0px;
    margin-bottom: 20px;
}

.subtitle-forcate{
    font-weight: normal;
    margin-left: -10px;
    font-size: 40px;
    background: url("img/gray_dot.png") no-repeat scroll 133px 22px / 577px 2px transparent;
}

a.other_cate_link{
    color: #999;
}

a.other_cate_link:hover{
    color: #3660a8;
}

.each-portfolio h2{
    font-size: 25px;
    line-height: 30px;
}

.cate-bar{
    margin-left: -10px;
    padding-left: 10px;
    padding-bottom: 15px;
    border-bottom: 2px solid #999;
    margin-top: -5px;
}

.post_relate{
    height: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 98%;
    background-color: #fff;
    display: block;
    box-shadow: 1px 1px 7px #333;
}

.relate-post-label{
    font-size: 40px;
    text-align: right;
    background: url("img/gray_dot.png") no-repeat scroll 0 20px / 478px 2px transparent;
}

.relate-post-title{
    margin-top: 10px;
    font-size: 23px;
    text-align: center;
}

.main-content{
    margin-bottom: 15px;
}

.contact-detail p{
    position: relative;
    display: inline-block;
    width: 100%;
}

.contact-detail a{
    color: #999;
}

.contact-detail a:hover{
    color: #999;
    text-decoration: none;
}

.contact-detail i{
    position: absolute;
}

.contact-detail span{
    position: absolute;
    left: 25px;
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}